SECRET_KEY=change-me-in-real-deploys
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=daraja
DB_USER=daraja
DB_PASSWORD=daraja
DB_HOST=127.0.0.1
DB_PORT=3306

WEBHOOK_HMAC_SECRET=dev-webhook-secret-change-me

TOKEN_STRATEGY=simple
TOKEN_SIMPLE_MULTIPLIER=1357
TOKEN_HMAC_SECRET=dev-token-secret-change-me

SMS_PROVIDER=console
TRANSACTION_TTL_MINUTES=30
